<label for="basic-url" class="form-label">
    Approve: usará la dirección del remitente y permitirá que el gastador use X cantidad de tokens en su nombre.
</label>
<form [formGroup]="form" (ngSubmit)="submit()">

    <div class="mb-3">
        <label class="form-label">{{'amount' | titlecase}} </label>
        <input type="number" formControlName="amount" class="form-control" placeholder="amount">
    </div>
    <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
        <div *ngIf="f.amount.errors.required" class="ion-text-center red">
            <p>
                {{'is required' | titlecase }}
            </p>
        </div>
    </div>
    <div class="d-grid gap-2">
        <button (click)="submit()" class="btn btn-primary" type="button">
            {{'approve' | titlecase}}
        </button>
    </div>
</form>