<div class="card mb-4 box-shadow text-center">
    <div class="card-body">
        <h3>Pausar o reanudar contrato</h3>

        <label for="basic-url" class="form-label">
            Pause: llamado por el propietario para pausar, desencadena el estado detenido
        </label>
        <div class="d-grid gap-2">
            <button (click)="pause()" class="btn btn-primary" type="button">
                {{'pause' | titlecase}}
            </button>
        </div>


        <label for="basic-url" class="form-label">
            Unpause: llamado por el propietario para anular la pausa, vuelve al estado normal
        </label>
        <div class="d-grid gap-2">
            <button (click)="Unpause()" class="btn btn-primary" type="button">
                {{'Unpause' | titlecase}}
            </button>
        </div>

    </div>
</div>