<div class="p-5"></div>
<div *ngIf="data?.getOwner" class="text-center">
    <h3 *ngIf="data?.accounts != data?.getOwner" style="color: red;">
        NO ERES OWNER :(
    </h3>

    <h3 *ngIf="data?.accounts == data?.getOwner" style="color: green;">
        ERES OWNER :)
    </h3>

    <h3 style="color: aliceblue;">
        accounts: {{data?.accounts}}
    </h3>
    <br>
    <h3 style="color: aliceblue;">
        Owner: {{data?.getOwner}}
    </h3>
</div>
<!-- *ngIf=" data?.getOwner && data?.accounts == data?.getOwner"  -->
<div *ngIf="data" class="container">
    <div class="row">
        <div class="col-12">
            <div class="card p-2">
                <app-balance-of-contract-ether></app-balance-of-contract-ether>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="card p-2">
                <app-oracle [data]="data"> </app-oracle>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="card p-2">
                <app-change-token-per-eth [data]="data"></app-change-token-per-eth>

            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="card p-2">
                <app-change-pre-sale-commission></app-change-pre-sale-commission>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="card p-2">
                <app-mint></app-mint>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="card p-2">
                <app-burn></app-burn>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="card p-2">
                <app-allowance></app-allowance>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="card p-2">
                <app-approve></app-approve>
            </div>
        </div>
        <div *ngIf="data" class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="card p-2">
                <app-pausable></app-pausable>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="card p-2">
                <app-transfer-ownership> </app-transfer-ownership>
            </div>
        </div>

    </div>
</div>