<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>EVM ETH</h3>
            <p>
                <button (click)="connectAccount()" class="btn btn-primary" type="button">connect account</button>
                <span class="p-2"></span>
                <button (click)="logout()" class="btn btn-primary" type="button">disconnect</button>
            </p>
            <div></div>
            <p>wallet: {{accountEth}}</p>
        </div>

        <div class="col-12">
            <h3>NEAR</h3>
            <p>
                <button (click)="connectAccountNear()" class="btn btn-primary" type="button">
                    Connect account
                </button>
                <span class="p-2"></span>
                <button (click)="logout()" class="btn btn-primary" type="button">
                    Disconnect
                </button>
            </p>
            <p>wallet: {{accountNear}}</p>
        </div>
    </div>
</div>