<section class="jumbotron text-center mysection">
    <div class="container ">
        <h1 class="jumbotron-heading text-dark mytext">Factory Swap</h1>
    </div>
</section>
<div class="row">

    <div class="col-12">
        <div class="card w-100">

            <div class="card-header">
                <div class="hstack gap-2">
                    <h2 class="border">Pairs</h2>
                    <button *ngIf="false" type="button" class="ms-auto btn btn-sm btn-outline-primary"
                        data-bs-toggle="modal" data-bs-target="#modalAddPair">Add</button>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Pair</th>
                                <th scope="col">Active</th>
                                <th scope="col">Active Oracle</th>
                                <th scope="col">Price</th>
                                <th scope="col">Amount For Tokens</th>
                                <th scope="col">fee</th>
                                <th scope="col">addressOracle</th>

                                <th scope="col">Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of accountStatus?.pairList; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{item.tokenA.name}} - {{item.tokenB.name}} </td>
                                <td>{{item.active}}</td>
                                <td>{{item.activeOracle}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.amountForTokens}}</td>
                                <td>{{item.fee}}</td>
                                <td>{{item.addressOracle}}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#modalUpdatePair" (click)="updatePair(item)">
                                        Update
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


    <div class="col-12 col-md-6 d-none">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <label for="basic-url" class="form-label">
                    Register Pair:
                </label>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="mb-3">
                        <label class="form-label">{{'price' | titlecase}} </label>
                        <input type="text" formControlName="price" class="form-control" placeholder="price"
                            value="0.026">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">{{'Token A' | titlecase}} </label>
                        <input type="text" formControlName="tokenA" class="form-control" placeholder="price"
                            value="0x9236227D9cde82844a85AaEB1464451AeE073723">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">{{'Decimal Token A' | titlecase}} </label>
                        <input type="text" formControlName="decimalTokenA" class="form-control" placeholder="price"
                            value="6">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">{{'Token B' | titlecase}} </label>
                        <input type="text" formControlName="tokenB" class="form-control" placeholder="price"
                            value="0x62cFc2220E40B5f35BccD34f19c1E7B663249DE3">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">{{'Decimal Token B' | titlecase}} </label>
                        <input type="text" formControlName="decimalTokenB" class="form-control" placeholder="price"
                            value="18">
                    </div>


                    <div class="mb-3">
                        <label class="form-label">{{'Amount For Tokens' | titlecase}} </label>
                        <input type="text" formControlName="amountForTokens" class="form-control" placeholder="price"
                            value="3">
                    </div>


                    <div class="mb-3">
                        <label class="form-label">{{'Fee' | titlecase}} </label>
                        <input type="text" formControlName="fee" class="form-control" placeholder="price" value="1">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">{{'Active Oracle' | titlecase}} </label>
                        <input type="text" formControlName="activeOracle" class="form-control" placeholder="price">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">{{'Address Oracle' | titlecase}} </label>
                        <input type="text" formControlName="addressOracle" class="form-control" placeholder="price"
                            value="0x92C09849638959196E976289418e5973CC96d645">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">{{'Address Decimal Oracle' | titlecase}} </label>
                        <input type="text" formControlName="addressDecimalOracle" class="form-control"
                            placeholder="price" value="10">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">{{'Active' | titlecase}} </label>
                        <select class="form-control" formControlName="active" name="isNative" id="isNative">
                            <option value="true">Yes</option>
                            <option value="false" selected>No</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">{{'Native' | titlecase}} </label>
                        <select class="form-control" formControlName="isNative" name="isNative" id="isNative">
                            <option value="true">Yes</option>
                            <option value="false" selected>No</option>
                        </select>
                    </div>


                    <div class="d-grid gap-2">
                        <button class="nav-item nav-link" type="submit">
                            {{'save' | titlecase}}
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>



</div>

<div class="modal fade" id="modalUpdatePair" tabindex="-1" aria-labelledby="modalUpdatePairLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h2>Update Pair</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="card bg-dark">
                    <div class="card-body">
                        <app-factory-swap-update-pair [pair]="toUpdate"></app-factory-swap-update-pair>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="false" class="modal fade" id="modalAddPair" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="modalAddPairLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <label for="basic-url" class="form-label">
                            Register Pair:
                        </label>
                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <div class="mb-3">
                                <label class="form-label">{{'price' | titlecase}} </label>
                                <input type="text" formControlName="price" class="form-control" placeholder="price"
                                    value="0.026">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">{{'Token A' | titlecase}} </label>
                                <input type="text" formControlName="tokenA" class="form-control" placeholder="price"
                                    value="0x9236227D9cde82844a85AaEB1464451AeE073723">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">{{'Decimal Token A' | titlecase}} </label>
                                <input type="text" formControlName="decimalTokenA" class="form-control"
                                    placeholder="price" value="6">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">{{'Token B' | titlecase}} </label>
                                <input type="text" formControlName="tokenB" class="form-control" placeholder="price"
                                    value="0x62cFc2220E40B5f35BccD34f19c1E7B663249DE3">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">{{'Decimal Token B' | titlecase}} </label>
                                <input type="text" formControlName="decimalTokenB" class="form-control"
                                    placeholder="price" value="18">
                            </div>


                            <div class="mb-3">
                                <label class="form-label">{{'Amount For Tokens' | titlecase}} </label>
                                <input type="text" formControlName="amountForTokens" class="form-control"
                                    placeholder="price" value="3">
                            </div>


                            <div class="mb-3">
                                <label class="form-label">{{'Fee' | titlecase}} </label>
                                <input type="text" formControlName="fee" class="form-control" placeholder="price"
                                    value="1">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">{{'Active Oracle' | titlecase}} </label>
                                <input type="text" formControlName="activeOracle" class="form-control"
                                    placeholder="price">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">{{'Address Oracle' | titlecase}} </label>
                                <input type="text" formControlName="addressOracle" class="form-control"
                                    placeholder="price" value="0x92C09849638959196E976289418e5973CC96d645">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">{{'Address Decimal Oracle' | titlecase}} </label>
                                <input type="text" formControlName="addressDecimalOracle" class="form-control"
                                    placeholder="price" value="10">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">{{'Active' | titlecase}} </label>
                                <select class="form-control" formControlName="active" name="isNative" id="isNative">
                                    <option value="true">Yes</option>
                                    <option value="false" selected>No</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">{{'Native' | titlecase}} </label>
                                <select class="form-control" formControlName="isNative" name="isNative" id="isNative">
                                    <option value="true">Yes</option>
                                    <option value="false" selected>No</option>
                                </select>
                            </div>


                            <div class="d-grid gap-2">
                                <button class="nav-item nav-link" type="submit">
                                    {{'save' | titlecase}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>