<div class="card mb-4 box-shadow text-center">
    <div class="card-body">
        <h3>Withdraw token owner</h3>

        
        <div class="mb-3">
            <ng-container *ngIf="pair; else noPairSelected">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>({{pair?.tokenA.symbol | titlecase }})</strong> {{pair?.tokenA.name | titlecase }}

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="removePair()"></button>
                </div>
            </ng-container>

            <ng-template #noPairSelected>
                <input class="form-control" readonly placeholder="Select Token" type="number" data-bs-toggle="modal" data-bs-target="#modalSwapOpts" (click)="loadPairs()">
            </ng-template>
        </div>

        <form [formGroup]="form" (ngSubmit)="withdrawTokenOnwer()">

            <div class="mb-3">
                <input class="form-control" placeholder="Select Token" type="number" formControlName="value">
            </div>

            <div class="mt-2 d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="nav-item nav-link" (click)="withdrawTokenOnwer()">
                        Retirar
                    </a>
                </div>

                <small class="text-muted">Unicamente Administrador</small>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="modalSwapOpts" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalSwapOptsLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title text-dark">Seleccione Token:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="list-group list-group-flush">
                    <ng-container *ngIf="(pairList && pairList.length > 0); else noPairList">

                        <a *ngFor="let item of pairList; index as idx" href="javascript:void(0)" (click)="selectPair(item)" data-bs-dismiss="modal">

                            <strong>({{item?.tokenA.symbol | titlecase }})</strong> {{item?.tokenA.name | titlecase }}

                        </a>

                    </ng-container>

                    <ng-template #noPairList>
                        <a href="javascript:void(0)" data-bs-dismiss="modal" class="text-center"> No hay opciones disponibles</a>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>