<div class="card mb-4 box-shadow text-center">
    <div class="card-body">
        <h3>Burn</h3>

        <label for="basic-url" class="form-label">
            Burn: Destruirá los tokens de una dirección ingresada y luego disminuirá el suministro total
         </label>
         <form [formGroup]="form" (ngSubmit)="submit()">
             <div class="mb-3">
                 <label class="form-label">{{'account' | titlecase}} </label>
                 <input type="text" formControlName="account" class="form-control" placeholder="account">
             </div>
             <div *ngIf="submitted && f.account.errors" class="invalid-feedback">
                 <div *ngIf="f.account.errors.required" class="ion-text-center red">
                     <p>
                         {{'is required' | titlecase }}
                     </p>
                 </div>
             </div>
         
             <div class="mb-3">
                 <label class="form-label">{{'amount' | titlecase}} </label>
                 <input type="text" formControlName="amount" class="form-control" placeholder="amount">
             </div>
             <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                 <div *ngIf="f.amount.errors.required" class="ion-text-center red">
                     <p>
                         {{'is required' | titlecase }}
                     </p>
                 </div>
             </div>
             <div class="d-grid gap-2">
                 <button (click)="submit()" class="btn btn-primary" type="button">
                     {{'burn' | titlecase}}
                 </button>
             </div>
         </form>

    </div>
</div>