.mysection {
    background: rgb(170, 106, 28);
    background: linear-gradient(90deg, rgba(170, 106, 28, 1) 0%, rgba(250, 223, 157, 1) 100%);
}

.mytext {
    font-weight: bold;
}

small{
    font-weight: bold !important;
}