<label for="basic-url" class="form-label">
    Cambiar valor de token. <br>
    Actualmente es {{data?.tokenPerEth}} * MATIC <br>
    Price for Matic : {{data?.maticUsd | currency:'USD'}} <br>
    Price for MPLUS: {{data?.maticUsd / data?.tokenPerEth  }}
</label>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
        <label class="form-label">{{'amount' | titlecase}} </label>
        <input type="text" formControlName="amount" class="form-control" placeholder="">
    </div>
    <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
        <div *ngIf="f.amount.errors.required" class="ion-text-center red">
            <p>
                {{'is required' | titlecase }}
            </p>
        </div>
    </div>
    <div class="d-grid gap-2">
        <button (click)="submit()" class="btn btn-primary" type="button">
            {{'Cambiar valor de token' | titlecase}}
        </button>
    </div>
</form>