<div class="container">
  <img
    src="assets/svg/logo.svg"
    style="cursor: pointer"
    routerLink="/"
    alt="logo"
    class="logo"
  />
  <div class="main">
    <div class="img-container">
      <img
        src="assets/images/circle-black.png"
        width="550"
        alt="circle-black"
      />
      <img
        src="assets/images/metawoman.png"
        width="760"
        alt="metawoman"
        class="metawoman"
      />
      <div class="circle-big-main">
        <img
          src="assets/images/black-sphere.png"
          width="400"
          alt="black-sphere"
          class="black-sphere"
        />
        <div class="circle"></div>
      </div>
    </div>
    <div class="container-wallet">
      <h1>KNOW OUR WHITELIST</h1>
      <form>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Duis aute
        </p>
        <div class="inputs">
          <input
            type="text"
            name="code"
            id="code"
            placeholder="Ingresa de código de acceso"
          />
          <button type="button" (click)="setCode()">Acceder a Whitelist</button>
        </div>
      </form>
    </div>
  </div>
</div>
