<div class="card mb-4 box-shadow text-center">
    <div class="card-body">
        <h3>Establecer dirección para vault</h3>
        {{(dataStatus$ | async)?.vaultAddress }}
        <form [formGroup]="form">
            <input class="form-control" name="value" id="value" formControlName="value" type="text" placeholder="Address Vault">
            <div class="mt-2 d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="nav-item nav-link" (click)="setVaultAddress()">Guardar</a>
                </div>
                <small class="text-muted text-wrap">Unicamente Administrador</small>
            </div>
        </form>
    </div>
</div>